@import '../../components/common/filter.css';

.workingTableHeader {
  width: calc(100% - 315px);
  height: 68px;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0px 27px;
  box-sizing: border-box;
  z-index: 20;
}

.workingTableHeader-logo,
.viewTableHeader-logo {
  width: 88px;
  height: 32px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.workingTableHeader-vitalityNum {
  padding: 5px 13px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 15px;
  margin-right: 20px;
  cursor: pointer;
}

.workingTableHeader-logo img,
.viewTableHeader-logo img {
  width: 25px;
  height: 22px;
  margin-right: 10px;
  font-size: 22px;
  font-weight: 500;
}

.viewTableHeader-logo {
  width: 100%;
  height: 38px;
  padding: 0px 16px;
  box-sizing: border-box;
}

.viewTableHeader-logo:hover {
  background: rgba(240, 240, 240, 1);
}

.viewTableHeader-logo img {
  margin-right: 5px;
}

.workingTableHeader-line {
  height: 15px;
  line-height: 15px;
  margin-right: 10px;
}

.view-container {
  /* width: 80%; */
  min-width: 200px;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.view-container-bg {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  filter: grayscale(60%);
  z-index: 10;
}

.view-title {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.view-info {
  width: 100%;
  height: 50px;
  cursor: pointer;
  text-align: center;
}

.view-tab {
  width: 50px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-sizing: border-box;
}

.fileday {
  width: 50px;
}
.viewTableHeader-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.groupTableHeader-name {
  max-width: 250px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 20px;
  flex-shrink: 0;
  position: relative;
}

.groupTableHeader-logo {
  width: 34px;
  height: 34px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
  flex-shrink: 0;
}

.groupTableHeader-name-title {
  max-width: 160px;
  flex-shrink: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.groupTableHeader-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}