.taskItem {
  width: 100%;
  min-height: 40px;
  padding: 6px 0px 4px 6px;
  /* box-sizing: border-box; */
  margin-bottom: 2px;
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  position: relative;
  box-sizing: border-box;
  border-radius: 5px;
  overflow: hidden;
  /* align-items: center; */
}

.taskItem:hover {
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.26);
}

.taskItem-img {
  width: 18px;
  height: 18px;
  overflow: hidden;
  border-radius: 50%;
  /* margin-top: 6px;
  margin-right: 5px; */
  margin-left: 5px;
}

.taskItem-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.taskItem-container {
  height: 100%;
  width: calc(100% - 35px);
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
}

.taskItem-finishIcon {
  width: 20px;
  height: 100%;
  margin-right: 5px;
}

.taskItem-finishIcon img {
  width: 20px;
  height: 20px;
  margin-top:5px;
}

.taskItem:hover {
  box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.26);
}

.taskItem-info {
  width: 100%;
  /* height: 30px; */
  font-size: 14px;
  line-height: 20px;
  /* color: #23384b; */
  display: flex;
  align-items: flex-start;
}

.taskItem-day {
  width: 20px;
  height: 20px;
  line-height: 20px;
  padding: 3px 0px 0px 6px;
  color: #fff;
  background-color: #535353;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  margin-right: 5px;
  font-size: 12px;
  margin-top: 4px;
}

.taskItem-time {
  width: 0;
  height: 0;
  border-width: 20px;
  border-style: solid;
  border-color: #35a6f8 transparent transparent transparent;
  position: absolute;
  top: -2px;
  right: -20px;
}

.taskItem-time-hour {
  width: 10px;
  height: 10px;
  line-height: 10px;
  font-size: 8px;
  color: #fff;
  position: absolute;
  top: 0px;
  z-index: 1;
  transform: scale(0.7);
}

.taskItem-time-day {
  width: 10px;
  height: 10px;
  line-height: 10px;
  font-size: 10px;
  color: #fff;
  position: absolute;
  bottom: 0px;
  z-index: 3;
}

.taskItem-title {
  width: calc(100% - 35px);
  min-height: 28px;
  display: block;
  white-space: normal;
  box-sizing: border-box;
  font-size: 12px;
  margin-right: 8px;
  position: relative;
  word-wrap: break-word;
}

.taskItem-title>div {
  padding: 3px 0px 0px 5px;
  box-sizing: border-box;
  word-wrap: break-word;
  position: relative;
}

.taskItem-title .ant-input {
  font-size: 12px !important;
  line-height: 20px !important;
  padding: 0px 5px !important;
  box-sizing: border-box;
}

.taskItem-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.taskItem-footer-left {
  display: flex;
  align-items: center;
}

.taskItem-name {
  cursor: pointer;
  font-size: 12px;
  color: #8091a0;
}

.taskItem-name span {
  margin-left: 5px;
}

.taskItem-type {
  font-size: 12px;
  border-radius: 4px;
  padding: 5px;
}

.taskItem-check-icon {
  /* position: absolute;
  top: 0px;
  right: 10px;
  bottom: 0px; */
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  cursor: pointer;
}

.taskItem-check-icon:nth-child(4) {
  margin-right: 0px;
}

.taskItem-check-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .taskItem-title-name {
  min-height: 28px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 3;
} */
.taskItem-taskType {
  height: 0px;
  width: 0px;
  position: absolute;
  top: 0px;
  right: 0px;
  /* border-top-right-radius: 5px; */
}