.task-container {
  width: 100%;
  position: relative;
}
.taskItem {
  width: 100%;
  min-height: 40px;
  padding: 6px 0px 4px 6px;
  /* box-sizing: border-box; */
  margin-bottom: 6px;
  /* background-color: rgba(255, 255, 255, 0.66); */
  display: flex;
  flex-wrap: wrap;
  position: relative;
  box-sizing: border-box;
  border-radius: 5px;
  color: #333;
  outline: none;
  /* overflow: hidden; */
  /* align-items: center; */
}

/* .taskItem:hover {
 
} */

.taskItem-img-container {
  width: 18px;
  height: 100%;
  position: relative;
  margin-left: 5px;
}

.taskItem-img,
.task-executor-dropMenu-img {
  width: 18px;
  height: 18px;
  overflow: hidden;
  border-radius: 50%;
  /* margin-top: 6px;
  margin-right: 5px; */
}

.taskItem-img img,
.task-executor-dropMenu-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.task-executor-dropMenu-info {
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 10px 0px;
  box-sizing: border-box;
}
.task-executor-dropMenu-info::-webkit-scrollbar {
  width: 3px;
  height: 12px;
}
.task-executor-dropMenu-info::-webkit-scrollbar-thumb {
  background: #47475b;
  border-radius: 100px;
}
.task-executor-dropMenu-container {
  width: 100%;
  height: 38px;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  box-sizing: border-box;
  cursor: pointer;
}

.task-executor-dropMenu-img {
  width: 28px;
  height: 28px;
  margin-bottom: 5px;
  margin-right: 7px;
}

.task-executor-dropMenu-menuTitle {
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  color: rgba(51, 51, 51, 1);
  border-bottom: 1px solid #f0f0f0;
  line-height: 38px;
  padding: 8px 16px;
  box-sizing: border-box;
}

.task-executor-dropMenu-title {
  width: calc(100% - 35px);
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
}

.taskItem-container {
  height: 100%;
  width: calc(100% - 35px);
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
}

.taskItem-finishIcon {
  width: 20px;
  height: 100%;
  margin-right: 5px;
  cursor: pointer;
}

.taskItem-finishIcon img {
  width: 20px;
  height: 20px;
  margin-top: 5px;
}

/* .taskItem:hover {
  box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.26);
} */

.taskItem-info {
  width: 100%;
  /* height: 30px; */
  font-size: 14px;
  line-height: 20px;
  /* color: #23384b; */
  display: flex;
  align-items: flex-start;
  position: relative;
}

.taskItem-day {
  width: 20px;
  height: 20px;
  line-height: 20px;
  padding: 3px 0px 0px 6px;
  color: #fff;
  background-color: #535353;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  margin-right: 5px;
  font-size: 12px;
  margin-top: 4px;
  cursor: pointer;
}

.taskItem-time {
  width: 0;
  height: 0;
  border-width: 20px;
  border-style: solid;
  border-color: #35a6f8 transparent transparent transparent;
  position: absolute;
  top: -2px;
  right: -20px;
}

.taskItem-time-hour {
  width: 10px;
  height: 10px;
  line-height: 10px;
  font-size: 8px;
  color: #fff;
  position: absolute;
  top: 0px;
  z-index: 1;
  transform: scale(0.7);
}

.taskItem-time-day {
  width: 10px;
  height: 10px;
  line-height: 10px;
  font-size: 10px;
  color: #fff;
  position: absolute;
  bottom: 0px;
  z-index: 2;
}

.taskItem-title {
  width: calc(100% - 35px);
  min-height: 28px;
  display: block;
  white-space: normal;
  box-sizing: border-box;
  font-size: 12px;
  margin-right: 8px;
  position: relative;
  word-wrap: break-word;
  /* line-height:19px */
}

.taskItem-title > div {
  padding: 3px 0px 0px 5px;
  box-sizing: border-box;
  word-wrap: break-word;
  position: relative;
}

.taskItem-title .ant-input {
  font-size: 12px !important;
  line-height: 20px !important;
  padding: 0px 5px !important;
  box-sizing: border-box;
}

.taskItem-footer {
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.taskItem-footer-left {
  display: flex;
  align-items: center;
}

.taskItem-name {
  cursor: pointer;
  font-size: 12px;
  color: #8091a0;
}

.taskItem-name span {
  margin-left: 5px;
}

.taskItem-type {
  font-size: 12px;
  border-radius: 4px;
  padding: 5px;
}
.taskItem-icon-group {
  height: 100%;
  width: 104px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.taskItem-check-icon {
  /* position: absolute;
  top: 0px;
  right: 10px;
  bottom: 0px; */
  /* width: 16px; */
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
  cursor: pointer;
  flex-shrink: 0;
}

/* .taskItem-check-icon img {
  width: 100%;
  height: 100%;
} */
/* .taskItem-check-icon:nth-child(2) img {
  width: 12px;
  height: 2px;
  margin-right: 0px;
} */
.taskItem:hover .taskItem-check-icon {
  display: flex;
}
/* .taskItem-title-name {
  min-height: 28px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 3;
} */
.taskItem-taskType {
  height: 0px;
  width: 0px;
  position: absolute;
  top: 0px;
  right: 0px;
  /* border-top-right-radius: 5px; */
  z-index: 3;
}
input {
  outline: none;
}
.taskItem textarea {
  width: 100%;
  /* border: 1px solid rgba(216, 216, 216, 0.4); */
  border: 0px;
  font-size: 12px;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  height: 20px;
  outline: none;
  padding: 5px 0px 0px 5px;
  line-height: 17px;
}
.taskItem textarea::-webkit-scrollbar {
  width: 0px;
}
.invite-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.invite-button {
  width: 100%;
  height: 38px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding-right: 10px;
  box-sizing: border-box;
}
.taskItem-plus {
  width: 18px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px 0px;
  cursor: pointer;
}
.taskItem-plus img {
  width: 28px;
  height: 28px;
}
.taskItem-plus-input {
  margin: 5px 0px 5px 0px;
}
.taskItem-plus-input input {
  width: 100%;
  height: 38px;
  background: #ffffff;
  /* box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1); */
  border-radius: 8px;
  border: 1px solid #f0f0f0;
}
.taskItem-plus-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
