.memberBoard {
  width: 360px;
  height: 100%;
  margin-right: 2%;
  color: #fff;
}
.memberBoard-maintitle {
  width: 100%;
  height: 45px;
  padding-bottom: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(216, 216, 216, 0.4);
  margin-bottom: 5px;
  font-size:18px;
}
.memberBoard-title {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
}
.memberBoard-item {
  width: 100%;
  height: calc(100% - 35px);
  overflow: auto;
  padding: 0px 5px;
  box-sizing: border-box;
}
.memberBoard-group {
  display: flex;
  align-items: center;
  font-size: 10px;
  margin: 14px 0px 10px 0px;
}

.memberBoard-item::-webkit-scrollbar {
  width: 1.5px;
}
.memberBoard-item::-webkit-scrollbar-thumb {
  background: #dedede;
  border-radius: 100px;
}
