.file-button {
  width: 124px;
  height: 32px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  opacity: 0;
  outline: none;
}
.company-header-button {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MuiTableCell-stickyHeader {
  background-color: #fff;
}
.companyPerson-input {
  width: 200px;
  height: 39px;
  border-radius: 6px;
  outline: 0px;
  border: 1px solid #cecece;
  padding: 0px 5px;
  box-sizing: border-box;
  margin-left: 20px;
}
.companyPerson-online {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  right: 2px;
  bottom: 0px;
  z-index: 5;
}
.company-header-batch {
  min-width: 250px;
  height: 32px;
  font-size: 14px;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
  border: 1px solid#cecece;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 6px;
  position: relative;
  z-index: 5;
}
.company-header-batch > div:nth-child(2) {
  margin-left: 10px;
}
.company-header-batch-item {
  width: 100%;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0px 15px;
  box-sizing: border-box;
}
.company-header-batch-item:hover {
  background: rgba(240, 240, 240, 0.3);
}
.company-info-left,
.company-info-right {
  display: flex;
  align-items: center;
}
.MuiTableCell-sizeSmall {
  padding: 6px !important;
}
.companyPerson-option {
  height: 35px;
  width: 100%;
}
