.file-button {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 2;
  opacity: 0;
  outline: none;
}
.company-header-button {
  width: 320px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MuiTableCell-stickyHeader {
  background-color: #fff;
}
.companyPerson-input {
  width: 200px;
  height: 39px;
  border-radius: 8px;
  outline: 0px;
  border: 1px solid #cecece;
  padding: 0px 5px;
  box-sizing: border-box;
  margin-left: 20px;
}
