.company {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.company-menu-logo {
  width: 140px;
  height: 100px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}
.company-menu-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.company-menu-name {
  width: 100%;
  height: 40px;
  line-height: 40px;
  color:#fff;
  text-align: center;
}
.company-menu {
  width: 200px;
  height: 100%;
  background: #1d1d20;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}
.company-menu-link {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  color: #fff;
  padding-left: 26px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.company-container {
  width: calc(100% - 200px);
  height: 100%;
  background: #fff;
}
.company-header {
  width: 100%;
  height: 70px;
  background: #ffffff;
  box-shadow: 0px 8px 14px 0px rgba(72, 89, 102, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 28px;
  box-sizing: border-box;
}
.company-header-title {
  /* width: 90px; */
  height: 24px;
  font-size: 18px;
  font-family: MicrosoftYaHei;
  color: #333333;
  line-height: 24px;
}
.company-menu-link-icon {
  width: 30px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  right: 0px;
}
.company-submenu {
  width: 200px;
  height: 38px;
  color: #fff;
  padding-left: 53px;
  line-height: 38px;
  font-size: 12px;
  box-sizing: border-box;
}
.company-button {
  width: 108px;
  height: 39px;
  background: #393939;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
  color: #fff;
  line-height: 39px;
  text-align: center;
  border: 1px solid #dfe5f9;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.company-info {
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
}
.company-info-container {
  width: calc(100% - 50px);
  height: calc(100% - 120px);
  margin-top: 25px;
  margin-left: 25px;
  background-color: #fff;
  border: 1px solid #ececec;
  overflow: auto;
}
.MuiTableContainer-root::-webkit-scrollbar {
  height: 8px;
}
