.companyDepartment {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
.companyDepartment-left {
  width: 237px;
  height: 100%;
  background: #f5f5f5;
  overflow: auto;
}
.companyDepartment-right {
  width: calc(100% - 237px);
  height: 100%;
}
.company-header-right {
  width: 230px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
