.companySearch {
  width: 100%;
  height: 100%;
  padding: 8px 0px;
  box-sizing: border-box;
}
.companySearch-listSearch {
  position: absolute;
  top: 12px;
  right: 48px;
  z-index: 10;
}
.companySearch-tree {
  width: 100%;
  height: calc(100% - 43px);
  background-color: rgb(245, 245, 245);
}
.companySearch-info-container {
  width: 100%;
  /* height: 50%; */
  background-color: #fff;
  border: 1px solid #ececec;
  overflow: auto;
}
.companySearch-info-title {
  width: 100%;
  height: 50px;
  line-height: 50px;
}
