.contentHeader-set {
  height: 68px;
  position: fixed;
  top: 0px;
  right: 26px;
  color: #333;
  display: flex;
  align-items: center;
  z-index: 5;
}
.contentHeader-avatar-info {
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  cursor: pointer;
}
.contentHeader-avatar-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  border: 3px solid #fff;
  z-index: -1;
}
.contentHeader-avatar {
  /* width: 30px;
  height: 30px; */
  overflow: hidden;
  border-radius: 50%;
}
.contentHeader-avatar img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.contentHeader-set-item {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  position: relative;
}
.contentHeader-set-title {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentHeader-set-avatar {
  width: 88px;
  height: 88px;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
}
.contentHeader-set-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contentHeader-set-item-title {
  display: flex;
  align-items: center;
}
.bg {
  width: 260px;
  height: 100%;
  padding: 8px 0px 0px 6px;
  box-sizing: border-box;
  /* overflow: auto; */
  position: relative;
}
.bg-title {
  width: 100%;
  height: 20px;
  font-size: 14px;
  font-weight: 600;
  color: #333333;
  margin-bottom: 14px;
}
.bg-header {
  width: 100%;
  height: 40px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;
  padding: 0px 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bg-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
}
.bg-item {
  width: 82px;
  height: 38px;
  background: #46558c;
  /* border-radius: 8px; */
  margin-right: 1px;
  margin-bottom: 1px;
  background-size: cover;
  cursor: pointer;
  padding: 2px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-attachment: fixed; */
}
.bg-point {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
}
.contentHeader-set-item-bg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.contentHeader-set-item-bg-info {
  height: 100%;
  display: flex;
  align-items: center;
}
.headerSet-search-title {
  width: 100%;
  height: 40px;
  margin: 10px 0px;
}
.headerSet-search-info {
  width: 100%;
  height: calc(100% - 40px);
  padding: 0px 10px;
  box-sizing: border-box;
  overflow: auto;
}
.addTask-container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.addTask-item,
.chooseItem {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.addTask-item:nth-child(2) {
  justify-content: center;
}
.addTask-avatar {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 5px;
}
.addTask-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.addTask-logo {
  width: 11px;
  height: 7px;
  margin-left: 10px;
}
.chooseItem {
  width: 100%;
  height: 38px;
  padding: 0px 5px;
  cursor: pointer;
}
.chooseItem:hover {
  background-color: #f0f0f0;
}
.headerSet-unRead {
  min-width: 20px;
  min-height: 20px;
  padding: 2px;
  position: absolute;
  top: -5px;
  right: 7px;
  background-color: #e94848;
  color: #fff;
  font-size: 12px;
  text-align: center;
}
.bg-item-right {
  height: 100%;
  display: flex;
  align-items: center;
}
.contentHeader-set-container {
  width: 528px;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;
}
.contentHeader-set-left {
  width: 260px;
  height: 100%;
  padding: 8px 10px;
  box-sizing: border-box;
}
.contentHeader-set-item-radio {
  height: 100%;
  display: flex;
  align-items: center;
}
/* .contentHeader-set-item-radio input + i:after {
}
.contentHeader-set-item-radio input[type='radio' i]:checked {
  background-color: #ff5d5b;
} */

@keyframes avatarSmall {
  from {
    width: 40px;
    height: 40px;
  }

  to {
    width: 30px;
    height: 30px;
  }
}

@keyframes avatarBig {
  from {
    width: 30px;
    height: 30px;
  }

  to {
    width: 40px;
    height: 40px;
  }
}
