.companyBasic {
  height: 100%;
  width: 100%;
  font-size: 20px;
  color: #fff;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}
.companyBasic-container {
  width: 100%;
  height: calc(100% - 108px);
  /* background-color: #fff; */
  padding: 12px 23px;
  box-sizing: border-box;
  overflow: auto;
  /* position: relative;
  z-index: 1; */
}
.companyBasic-tab {
  width: 100%;
  height: 117px;
  margin: 18px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.companyBasic-tab-item,
.companyBasic-tab-bottomItem,
.companyBasic-box {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  padding: 12px 19px;
  box-sizing: border-box;
}
.companyBasic-tab-item {
  height: 140px;
}
.companyBasic-tab-item-top {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 44px;
  font-weight: 500;
  color: #ffffff;
  position: relative;
  z-index: 1;
}
.companyBasic-tab-item-top img {
  width: 58px;
  height: 76px;
  margin-right: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.companyBasic-tab-item-bottom {
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-top: 10px;
}

.companyBasic-tab-bottomItem {
  height: 260px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.companyBasic-tab-bottomItem-item {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
.companyBasic-tab-bottomItem-title {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 6px;
}
.companyBasic-tab-bottomItem-left {
  display: flex;
  align-items: center;
}
.companyBasic-tab-bottomItem-left,
.companyBasic-tab-bottomItem-item {
  font-size: 12px;
  font-weight: 400;
  color: #a2a2a2;
}
.companyBasic-tab-bottomItem-img {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  overflow: hidden;
  margin: 0px 10px;
}
.companyBasic-tab-bottomItem-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.companyBasic-tab-bottomItem-left:nth-child(3) {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}
.companyBasic-tab-bottomItem-chart {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.companyBasic-tab-item-title {
  width: 100%;
  height: 67px;
  font-size: 38px;
  font-weight: 500;
  line-height: 97px;
  text-align: center;
}
.companyBasic-tab-item-subtitle {
  width: 100%;
  height: 50px;
  font-size: 14px;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
}
.companyBasic-chart {
  width: 100%;
  height: 270px;
  background: #ffffff;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  border: 1px solid #dfe5f9;
  padding: 0px 15px;
  box-sizing: border-box;
  margin-bottom: 18px;
}
.companyBasic-box {
  min-height: 100px;
  margin-top: 15px;
}
.companyBasic-box-nav {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 400;
  color: #999999;
  margin-bottom: 20px;
}
.companyBasic-box-nav-item {
  width: 43%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.companyBasic-box-nav-item span {
  padding: 15px 50px;
}
.companyBasic .ant-select-selector {
  background-color: transparent !important;
  color: #fff;
  border: 1px solid #fff;
}
.companyBasic .ant-select-arrow {
  color: #fff;
}
.company-group-th,
.company-group-tr {
  width: 100%;
  height: 65px;
  display: flex;
  font-size: 14px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.company-group-th {
  font-weight: 500;
  height: 50px;
}
.company-group-th > div,
.company-group-tr > div {
  min-width: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.company-group-tr > div:nth-child(1) > div {
  width: 38px;
  height: 38px;
  border-radius: 5px;
  overflow: hidden;
}
.company-group-tr > div:nth-child(1) > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.company-group-th > div:nth-child(2),
.company-group-tr > div:nth-child(2),
.company-group-th > div:nth-child(8),
.company-group-tr > div:nth-child(8) {
  width: 25%;
}
