.vitality-container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: relative;
}
.vitality-top {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(239, 239, 239, 1);
}
.vitality-img {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 9px;
}
.vitality-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.vitality-top-info {
  width: calc(100% - 40px);
  height: 60px;
}

.vitality-title {
  width: 100%;
  height: 30px;
  font-size: 14px;
  font-weight: 500;
  color: rgba(51, 51, 51, 1);
  display: flex;
  align-items: center;
}
.vitality-top-title,
.vitality-bottom-title {
  display: flex;
  height: 29px;
  justify-content: flex-start;
  font-size: 16px;
  font-weight: 500;
  color: rgba(51, 51, 51, 1);
}
.vitality-top-title > div,
.vitality-bottom-title > div {
  height: 29px;
  line-height: 29px;
}
.vitality-bottom-title > div {
  width: 100%;
}
.vitality-bottom-title {
  font-size: 12px;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);
}
.vitality-top-num {
  display: flex;
  margin-left: 10px;
}
.vitality-numImg {
  width: 18px;
  height: 12px;
  margin: 0px 5px;
}
.vitality-numImg img {
  width: 100%;
  height: 100%;
}
.vitality-chart {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-items: flex-start;
  box-sizing: border-box;
  margin-bottom: 10px;
  position: relative;
}
.vitality-chart-title {
  width: 100%;
  height: 25px;
  line-height: 25px;
  display: flex;
}
.vitality-chart-info {
  width: 100%;
  height: 250px;
  display: flex;
  margin-top: 10px;
}
.vitality-month {
  width: 30%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.vitality-week {
  width: 90%;
  height: 500px;
}
.vitality-month-container,
.vitality-log-container {
  width: 100%;
  height: calc(100% - 35px);
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.vitality-month-info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-left: 40px;
  box-sizing: border-box;
}
.vitality-month-title {
  height: 36px;
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 36px;
  font-size: 16px;
  font-weight: 500;
  color: rgba(51, 51, 51, 1);
}
.vitality-month-item {
  width: calc(96% / 7);
}
.vitality-month-item-day {
  height: 36px;
  margin-right: 1px;
  margin-bottom: 1px;
  box-sizing: border-box;
  text-align: center;
  line-height: 36px;
  color: #333;
}
.vitality-month-item-title {
  height: 17px;
  font-size: 12px;
  font-weight: 400;
  color: rgba(94, 138, 251, 1);
  line-height: 17px;
  text-align: center;
  border: 1px solid transparent;
  margin-right: 1px;
  margin-bottom: 1px;
}
.vitality-log {
  width: 70%;
  padding: 0px 10px;
  box-sizing: border-box;
}
.vitality-log-container {
  padding: 0px 5px;
  box-sizing: border-box;
}
.vitality-msg {
  width: 100%;
  height: 26px;
  font-size: 12px;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  line-height: 26px;
  display: flex;
  align-items: center;
}
.vitality-msg > div {
  margin-right: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.close-icon {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 22px;
}
.vitality-chart-info {
  width: 100%;
  height: calc(100% - 91px);
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}
.vitality-box {
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: space-between;
}
.vitality-doc {
  position: absolute;
  top: 45px;
  right: 20px;
  font-size: 12px;
  font-weight: 400;
  color: rgba(94, 138, 251, 1);
  cursor: pointer;
}
.vitality-choose {
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.vitality-choose-icon {
  width: 7px;
  height: 11px;
  margin: 0px 5px;
  cursor: pointer;
}
