.pen-item:hover{
    color:#1890ff
}
.ant-tabs-nav .ant-tabs-tab {
    margin: 0 !important;
}
.ant-tabs-bar {
    margin: 0 !important;
}
.mb10{
    margin-bottom: 10px;
}
.mb10 .ant-col{
    height: 30px;
    line-height: 30px;
}
.algin{
    height: 40px;
    width: 100%;
    display: inline-flex;
}

.algin .toolbar_button{
    margin-top: 0;
    padding: 2px;
    border: none;
    
}