.grid-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-height: 40px;
  position: relative;
}

.line-img-task {
  width: 20px;
  height: calc(100% + 2px);
  border-left: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  position: absolute;
  top: -30px;
  left: -35px;
  z-index: 0;
  border-bottom-left-radius: 5px;
}
.grid-title-subtitle {
  width: 40%;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
  position: relative;
  z-index: 2;
  padding-right: 10px;
}
.grid-label-tr {
  display: flex;
}
.grid-title-subtask {
  width: 60%;
}
.grid-label-td {
  width: 5%;
  margin-right: -1px;
  margin-bottom: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ededed;
  box-sizing: border-box;
}
.grid-title-task {
  width: 100%;
}
.chooseTr:hover {
  background: rgba(240, 240, 240, 0.3);
}
