.clockIn {
  width: 100%;
  height:100%;
}
.clockIn-button {
  height: 53px;
  position: absolute;
  top: 0px;
  right: 16px;
  display: flex;
  align-items: center;
}
.clockIn-textarea {
  width: 100%;
  /* height: 200px; */
  height: calc(100% - 30px);
  border-radius: 5px;
}
.clockIn-logo {
  width: 12px;
  height: 7px;
  margin-left: 10px;
}
.clockIn-title {
  width: 100%;
  height: 40px;
  position: relative;
  padding: 0px 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.clockIn-info {
  height: calc((100% - 41px) / 3);
  padding: 0px 16px;
  box-sizing: border-box;
}
.clockIn-info-title {
  width: 100%;
  height: 30px;
  line-height: 30px;
}
.clockIn-title-logo,
.clockInGroup-item-logo {
  width: 34px;
  height: 34px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0px 10px;
  flex-shrink: 0;
}
.clockIn-title-logo img,
.clockInGroup-item-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.clockInGroup {
  padding: 15px 0px;
  box-sizing: border-box;
}
.clockInGroup-item {
  height: 38px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0px 17px;
  box-sizing: border-box;
  cursor: pointer;
}
.clockInGroup-item:hover {
  background-color: #f0f0f0;
}
.clockInGroup-item-logo {
  width: 24px;
  height: 24px;
}
