.tree {
  width: 100%;
  height: 100%;
  display: flex;
  background: #eeeeee;
}
.tree-info {
  width: calc(100% - 50px);
  height: 100%;
}
.tree-container {
  width: 100%;
  height: calc(100% - 110px);
  position: relative;
  z-index: 2;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  overflow: auto;
}
.tree-box {
  position: absolute;
  top: 10px;
  /* margin-top: 10px; */
}
.tree-time {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.tree-time-container {
  height: 100%;
  display: flex;
  align-items: center;
}
.tree-time-taskType {
  width: 120px;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.tree-time-line {
  color: #b7b7b7;
  margin: 0px 15px 0px 10px;
}
.tree-path {
  width: 100%;
  height: 32px;
  display: flex;
}
.tree-path-item {
  height: 32px;
  line-height: 32px;
  color: #888;
  cursor: pointer;
  background-color: #dfdfdf;
  margin-left: 0px;
  padding: 0px 0px 0px 25px;
  position: relative;
}
.tree-path-item:nth-child(1) {
  padding: 0px 0px 0px 7px;
}
.tree-path-icon {
  width: 18px;
  height: 32px;
  position: absolute;
  top: 0px;
  right: -18px;
  z-index: 1;
}
.tree-path-icon-top {
  width: 0;
  height: 0;
  border-width: 16px 0 16px 16px;
  border-style: solid;
  border-color: transparent transparent transparent #dfdfdf;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 3;
}
.tree-path-icon-bottom {
  width: 0;
  height: 0;
  border-width: 16px 0 16px 16px;
  border-style: solid;
  border-color: transparent transparent transparent #f5f5f5;
  position: absolute;
  left: 2px;
  top: 0px;
  z-index: 2;
}
.tree-member {
  width: 50px;
  /* height: 100%; */
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  overflow: hidden;
  padding: 10px 0px;
  box-sizing: border-box;
  background: #333333;
}
.tree-member-container {
  width: 100%;
  height: calc(100% - 45px);
  overflow: auto;
}
.tree-member-item {
  width: 100%;
  height: 45px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  margin-bottom: 3px;
}
.tree-member-img {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.tree-member-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tree-member-check {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 4px;
  bottom: 0px;
  z-index: 3;
  cursor: pointer;
}
.tree-close {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 14px;
  right: 13px;
  z-index: 91;
  cursor: pointer;
}
.tree-logo {
  width: 35px;
  height: 32px;
  margin-bottom: 10px;
  cursor: pointer;
}
.iconBig-container {
  width: 20%;
  margin: 20px 5px;
  cursor: pointer;
}
.iconBig-img {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.iconBig-container:nth-child(5) .iconBig-img {
  width: 82px;
  height: 82px;
  margin-left: -10px;
}
.iconBig-title {
  width: 100%;
  height: 20px;
  margin-top: 10px;
  line-height: 20px;
  text-align: center;
}
.iconBig-container:nth-child(5) .iconBig-title {
  margin-top: 3px;
}
.groupTableTreeInfo-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  z-index: 1;
}
.groupTableTreeInfo-button {
  position: absolute;
  top: 20px;
  right: 40px;
  z-index: 5;
}
@keyframes rightTop {
  from {
    height: 100%;
  }

  to {
    height: 50px;
  }
}

@keyframes rightBottom {
  from {
    height: 50px;
  }

  to {
    height: 100%;
  }
}
