.groupTable {
  height: 100%;
  width: 100%;
  /* position: relative;
  z-index:3 */
}
.groupTableContent {
  width: 100%;
  height: calc(100% - 68px);
  margin-top: 68px;
  /* position: relative;
  z-index: 6; */
}
