.groupTableHeader {
  width: 100%;
  height: 88px;
}
.groupTableHeader-name {
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 20px;
  flex-shrink: 0;
}
.groupTableHeader-logo {
  width: 34px;
  height: 34px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
  flex-shrink: 0;
}
.groupTableHeader-name-title {
  min-width: 80px;
  flex-shrink: 0;
  position: relative;
}
.groupTableHeader-name-title-logo {
  width: 12px;
  height: 7px;
  margin-left: 10px;
}
.groupTableHeader-logo img {
  width: 100%;
  height: 100%;
  font-size: 22px;
  font-weight: 500;
}
.groupTableHeader-vitalityNum {
  padding: 5px 13px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 15px;
  margin-right: 20px;
  cursor: pointer;
}
.groupTableHeader-info {
  width: 35px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.groupTableHeader-info-container {
  width: 100%;
  height: 100%;
  padding: 17px 0px;
  box-sizing: border-box;
}
.groupTableHeader-info-item {
  width: 100%;
  height: 38px;
  line-height: 38px;
  padding: 0px 19px;
  box-sizing: border-box;
  cursor: pointer;
}
.groupTableHeader-info-item:hover {
  background: #f0f0f0;
}
