.chart-container,
.chart-XYcontainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  color: #fff;
  background: rgba(255, 255, 255, 0.7);
}
.chart-container {
  height: 500px;
}
.chart {
  width: 33%;
}
.chart-div {
  width: 100%;
  height: 100%;
}
.chart-left-title,
.chart-middle-title,
.chart-right-title {
  width: 33%;
  height: 50px;
  position: absolute;
  top: 0px;
  line-height: 50px;
  text-align: center;
}
.chart-left-title {
  left: 0px;
}
.chart-middle-title {
  left: 33%;
}
.chart-right-title {
  right: 0px;
}
.choose-container {
  width: 130px;
  position: fixed;
  top: 70px;
  right: 10px;
  z-index: 10;
  color: #333;
}
.countdown-right-item {
  width: 100%;
  position: relative;
  color: #333;
}
.countdown-right-group {
  display: flex;
  align-items: center;
}
.countdown-right-group-logo,
.countdown-right-avatar,
.countdown-right-person-avatar {
  width: 22px;
  height: 22px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 5px;
}
.countdown-right-icon {
  width: 14px;
  height: 14px;
  margin-right: 5px;
}
.countdown-right-avatar {
  width: 34px;
  height: 34px;
  margin-right: 5px;
}
.countdown-right-person-avatar {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
.countdown-right-group-logo img,
.countdown-right-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.countdown-right-task {
  width: 100%;
  min-height: 80px;
  font-size: 10px;
  padding: 6px 12px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
}
.countdown-right-info {
  background: rgba(0, 0, 0, 0.12);
  color: #e4e4e4;
}
.countdown-right-info > img {
  width: 14px;
  height: 14px;
  margin-right: 8px;
}
.countdown-right-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.countdown-right-title {
  font-size: 12px;
  width: calc(100% - 24px);
}
.countdown-right-name {
  display: flex;
  align-items: center;
}
.countdown-right-progress {
  position: absolute;
  left: 0px;
  bottom: -8px;
}
.finish-info {
  width: 100%;
  position: absolute;
  top: 150px;
  left: 0px;
  z-index: 5;
  color: #ffb445;
  font-size: 40px;
  text-align: center;
}
.clearIcon {
  position: fixed;
  top: 30px;
  right: 30px;
}

.countdown-right-person-item {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  color: #fff;
}
.countdown-day {
  width: 20px;
  height: 20px;
  line-height: 20px;
  padding: 3px 0px 0px 6px;
  color: #fff;
  background-color: #535353;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  margin-right: 5px;
  font-size: 12px;
}
.countdown-time {
  width: 0;
  height: 0;
  border-width: 20px;
  border-style: solid;
  border-color: #35a6f8 transparent transparent transparent;
  position: absolute;
  top: -2px;
  right: -20px;
  z-index: 2;
}
.countdown-time-hour {
  width: 10px;
  height: 10px;
  line-height: 10px;
  font-size: 8px;
  color: #fff;
  position: absolute;
  top: 0px;
  z-index: 3;
  transform: scale(0.7);
}
.countdown-time-day {
  width: 10px;
  height: 10px;
  line-height: 10px;
  font-size: 10px;
  color: #fff;
  position: absolute;
  bottom: 0px;
  z-index: 3;
}
.countdown-right-project-avatar {
  width: 18px;
  height: 18px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  border-radius: 50%;
  overflow: hidden;
}
.countdown-right-project-avatar > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
