.workingTable {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 3;
}
.workingTableContent {
  width: 100%;
  height: calc(100% - 70px);
  overflow: auto;
}

.workingTable-addLabel,
.workingTable-addLabel-input {
  height: 35px;
  position: fixed;
  bottom: 10px;
  right: 11px;
  z-index: 5;
  cursor: pointer;
  box-sizing: border-box;
  border: 0px;
}
.workingTable-addLabel-input {
  z-index: 10;
  border-radius: 5px;
}
.workingTable-addLabel {
  width: 35px;
}
.groupTableHeader-name-title-logo {
  width: 12px;
  height: 7px;
  margin-left: 10px;
}
