.taskInfo {
  width: 414px;
  height: calc(100% - 66px);
  position: fixed;
  top: 65px;
  right: 0px;
  overflow: auto;
  z-index: 10;
  background-color: #fff;
  padding: 10px 15px;
  box-sizing: border-box;
  color: #333;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
}
.taskInfo-mainTitle {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.taskInfo-mainTitle-left,
.taskInfo-mainTitle-left-info {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: rgba(51, 51, 51, 1);
  position: relative;
}

.taskInfo-mainTitle-left-icon,
.taskInfo-mainTitle-left-avatar {
  width: 33px;
  height: 33px;
  margin-right: 9px;
  cursor: pointer;
}
.taskInfo-mainTitle-left-avatar {
  border-radius: 50%;
  overflow: hidden;
}
.taskInfo-mainTitle-left-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.taskInfo-mainTitle-right {
  height: 100%;
  display: flex;
  align-items: center;
}
.taskInfo-mainTitle-right-icon {
  width: 20px;
  height: 100%;
  margin-left: 11px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.taskInfo-container {
  width: 100%;
  height: calc(100% - 68px);
  overflow: auto;
}
.taskInfo-title {
  width: 100%;
  margin: 15px 0px 20px 0px;
  border: 0px;
  font-size: 18px;
}
.taskInfo-item {
  width: 100%;
  height: 48px;
  line-height: 48px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.taskInfo-item-title {
  width: 30px;
  height: 100%;
  margin-right: 12px;
}
.taskInfo-item-info,
.taskInfo-item-suggest,
.taskInfo-item-follow {
  width: calc(100% - 42px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.taskInfo-item-suggest {
  height: 36px;
  background-color: #daf6e6;
  border-radius: 4px;
  border: 1px solid rgba(218, 246, 230, 1);
  line-height: 36px;
  justify-content: center;
  color: #1cb75f;
  cursor: pointer;
}
.taskInfo-item-suggest-item {
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.taskInfo-item-hour,
.taskInfo-item-countdown {
  width: 45%;
  height: 36px;
  background: #999;
  border-radius: 4px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  position: relative;
  cursor: pointer;
}
.taskInfo-item-hour img,
.taskInfo-item-countdown img {
  width: 17px;
  height: 17px;
  margin-right: 5px;
}
.taskInfo-item-follow {
  width: calc(100% - 42px);
  min-height: 48px;
  background: #ebebeb;
  border: 1px solid rgba(235, 235, 235, 1);
  border-radius: 4px;
}
.taskInfo-comment {
  margin-bottom: 15px;
}
.taskInfo-comment-tabs {
  width: 100%;
  height: 32px;
  display: flex;
  align-items: center;
  line-height: 32px;
  border-bottom: 1px solid #d3d3d3;
  box-sizing: border-box;
}
.taskInfo-comment-tabs-item {
  height: 32px;
  text-align: center;
  cursor: pointer;
  padding: 0px 8px;
}
.taskInfo-comment-tabs-item:nth-child(1) {
  margin-right: 34px;
}
.taskInfo-comment-tab {
  width: 100%;
  height: 300px;
  overflow: auto;
  padding-top: 15px;
  box-sizing: border-box;
}
.taskInfo-comment-tab::-webkit-scrollbar,
.taskInfo-container::-webkit-scrollbar {
  width: 0px;
}
.taskInfo-comment-tab::-webkit-scrollbar-thumb,
.taskInfo-container::-webkit-scrollbar-thum {
  background: #47475b;
  border-radius: 100px;
}
.taskInfo-comment-historyLog {
  width: 100%;
  min-height: 20px;
  font-size: 12px;
  color: #8091a0;
  margin-bottom: 10px;
  line-height: 20px;
  display: flex;
  align-items: center;
}
.taskInfo-comment-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.point{
  width:5px;
  height:5px;
  border-radius: 50%;
  background-color: #8091a0;
  margin-right:5px
}