.contact {
  width: 100%;
  height: calc(100% - 35px);
  overflow: auto;
  padding: 5px 10px;
  box-sizing: border-box;
}
.contact-item {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 9px;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
}
.contact-item:hover {
  background: rgba(255, 255, 255, 0.34);
}
.contact-avatar {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 5px;
}
.contact-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contact-care-img,
.contact-uncare-img {
  width: 16px;
  height: 14.5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 8px;
}
.contact-uncare-img {
  display: none;
}
.contact-item:hover .contact-uncare-img {
  display: flex;
}

.contact-left {
  height: 100%;
  display: flex;
  align-items: center;
}
.contact-right {
  width: 25px;
  height: 25px;
  line-height: 25px;
  padding: 3px 0px 0px 6px;
  color: #fff;
  background-color: #535353;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  margin-right: 5px;
  font-size: 12px;
  margin-top: 4px;
}
.contanct-time {
  width: 0;
  height: 0;
  border-width: 25px;
  border-style: solid;
  border-color: #35a6f8 transparent transparent transparent;
  position: absolute;
  top: -2px;
  right: -25px;
}
.contanct-time-hour {
  width: 10px;
  height: 10px;
  line-height: 10px;
  font-size: 8px;
  color: #fff;
  position: absolute;
  top: 2px;
  /* left: 9px; */
  z-index: 1;
  transform: scale(0.6);
  text-align: center;
}
.contanct-time-day {
  width: 10px;
  height: 10px;
  line-height: 10px;
  font-size: 10px;
  color: #fff;
  position: absolute;
  bottom: 0px;
  z-index: 3;
  text-align: center;
}
.contact-left-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
