.contact {
  width: 100%;
  height: calc(100% - 35px);
  overflow: auto;
  padding: 5px 10px;
  box-sizing: border-box;
}
.contact-item {
  height: 45px;
  display: flex;
  align-items: center;
  padding: 0px 9px;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
}
.contact-item:hover {
  background: rgba(255, 255, 255, 0.34);
}
.contact-avatar {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 5px;
}
.contact-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contact-care-img,
.contact-uncare-img {
  width: 16px;
  height: 14.5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 8px;
}
.contact-uncare-img {
  display: none;
}
.contact-item:hover .contact-uncare-img {
  display: flex;
}

.contact::-webkit-scrollbar {
  width: 3px;
}
.contact::-webkit-scrollbar-thumb {
  background: #dedede;
  border-radius: 100px;
}
