/* .deTime {
  position: relative;
  height: 50px;
  width: 300px;
  padding: 5px;
  background: linear-gradient(to bottom, #0071ff, #00b1ff);
  display: flex;
  font-family: TrebuchetMS,Rotobo,"Microsoft YaHei",sans-serif;
} */

.container {
  position: relative;
  height: 600px;
  width: 600px;
  border-radius: 50%;
  box-shadow: #353535 0px 0px 1px 0px;
  background: transparent;
}

.container .second {
  height: 190px;
  width: 3px;
  top: 112px;
  left: 299px;
  background-color: #ff6363;
}

.container .minute {
  height: 150px;
  width: 5px;
  top: 151px;
  left: 297px;
  background-color: rgba(255, 255, 255, 0.93);
}

.container .hour {
  height: 110px;
  width: 12px;
  top: 191px;
  left: 295px;
  background-color: rgba(255, 255, 255, 1);
}
.container .second,
.container .minute,
.container .hour {
  position: absolute;
  transform-origin: center bottom;
  box-shadow: 0px 0px 2px 0px #000;
  border-radius: 10px;
}

.container .center {
  width: 16px;
  height: 16px;
  border: 3px solid #393838;  
  background: #D8D8D8;
  box-shadow: 0px 0px 3px 1px #8c8c8c;
  position: absolute;
  top: 294px;
  left: 294px;
  border-radius: 50%;
}

.deTime .time {
  line-height: 50px;
  font-size: 36px;
  color: #fff;
  margin-left: 15px;
}

.deTime .time span {
  font-size: 22px;
}

.deTime .date {
  font-size: 13px;
  color: #fff;
  display: flex;
  flex-flow: column;
  margin-left: 15px;
  padding: 6px 0;
}

.deTime .date > div {
  flex-basis: 50%;
}

.grad {
  height: 7px;
  width: 7px;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  left: 295px;
  top: 2px;
  transform-origin: center 298px;
  border-radius: 50%;
}
.grad:nth-child(3n) {
  height: 10px;
  width: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}
