.contentHeader {
  width: 100%;
  height: 68px;
  padding: 0px 26px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.contentHeader-logo {
  width: 27px;
  height: 23px;
  margin-right: 10px;
}
