.welcome-link {
  color: rgb(255, 101, 143);
  display: flex;
  position: absolute;
  top: 47px;
  right: 300px;
}
.welcome-link > div {
  margin-right: 12px;
  cursor: pointer;
}
.welcome-link-help {
  position: relative;
  z-index: 1;
}
.welcome-link-item {
  height: 38px;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
}
.welcome-link-item:hover {
  background-color: #f0f0f0;
}
