.timeSet,
.timeSet-date {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  box-sizing: border-box;
}
.timeSet {
  margin-bottom: 10px;
}
.timeSet-time-logo,
.timeSet-date-logo {
  width: 45px;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.timeSet-date-logo {
  width: 18px;
  height: 40px;
}
.timeSet-time-logo img,
.timeSet-date-logo img {
  width: 16px;
  height: 16px;
  margin-right: 3px;
}
.timeSet-time-info {
  width: 230px;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
}
.timeSet-time-choose {
  width: 0;
  height: 0;
  border-width: 9px;
  border-style: solid;
  position: absolute;
  top: -2px;
  right: -9px;
  z-index: 5;
}
.timeSet-date-info {
  width: 255px;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
}
.timeSet-time-item,
.timeSet-date-item {
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: #fff;
  font-size: 8px;
  text-align: center;
  background-color: #505050;
  margin-right: 5px;
  margin-bottom: 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
