.view-header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    z-index: 99;
    padding: 12px 24px;
    background-color: white;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0 3px 2px -2px rgba(200,200,200,.15);
}
.container-view{
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
}

.controlls-left {
    position: absolute;
    right: 62px;
    bottom: 56px;
    z-index: 1;
    font-size: 0;
    padding: 0 3px;
    overflow: hidden;
    height: 36px;
    box-shadow: 1px 1px 1px #ddd;
    background: rgba(255,255,255,1);
}
.go-back{
    display: inline-flex;
    align-items: center;
}
/* .go-back span{
    line-height: 30px;
    height: 30px;
} */