.App {
  display: flex;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.home-chat {
  height: 100%;
  width: calc(100% - 320px);
  position: absolute;
  left: 320px;
  top: 0px;
}
*::-webkit-scrollbar {
  width: 3px;
}
*::-webkit-scrollbar-thumb {
  background: #dedede;
  border-radius: 100px;
}
.upload-img {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 3;
  opacity: 0;
}
@keyframes moveIn {
  from {
    width: 320px;
  }

  to {
    width: 0px;
  }
}

@keyframes moveOut {
  from {
    width: 0px;
  }

  to {
    width: 320px;
  }
}

@keyframes contentmoveIn {
  from {
    width: calc(100% - 320px);
  }

  to {
    width: 100%;
  }
}
@keyframes contentmoveOut {
  from {
    width: 100%;
  }

  to {
    width: calc(100% - 320px);
  }
}
