.App {
  display: flex;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.home-chat {
  height: 100%;
  width: calc(100% - 320px);
  position: absolute;
  left: 320px;
  top: 0px;
}
*::-webkit-scrollbar {
  width: 1.5px;
}
*::-webkit-scrollbar-thumb {
  background: #dedede;
  border-radius: 100px;
}
.upload-img {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 3;
  opacity: 0;
}
.icon-container {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
body > div[style] {
  display: none;
}
body > div[role] {
  display: block;
}

@keyframes moveIn {
  from {
    width: 320px;
    opacity: 1;
  }

  to {
    width: 0px;
    opacity: 0;
  }
}

@keyframes moveOut {
  from {
    width: 0px;
    opacity: 0;
  }

  to {
    width: 320px;
    opacity: 1;
  }
}
@keyframes searchInputIn {
  from {
    width: 100%;
    opacity: 1;
    right: 0px;
  }

  to {
    width: 20px;
    opacity: 0;
    right: 40px;
  }
}

@keyframes searchInputOut {
  from {
    width: 20px;
    opacity: 0;
    right: 10px;
    height: 18px;
  }

  to {
    width: 100%;
    opacity: 1;
    right: 0px;
    height: 100%;
  }
}
@keyframes addLabelInputIn {
  from {
    width: 250px;
    opacity: 1;
  }

  to {
    width: 0px;
    opacity: 0;
  }
}

@keyframes addLabelInputOut {
  from {
    width: 0px;
    opacity: 0;
  }

  to {
    width: 250px;
    opacity: 1;
  }
}
@keyframes contentmoveIn {
  from {
    width: calc(100% - 320px);
  }

  to {
    width: 100%;
  }
}
@keyframes contentmoveOut {
  from {
    width: 100%;
  }

  to {
    width: calc(100% - 320px);
  }
}
