@media only screen and (max-width: 600px) {
  
}
.page {
  display: flex;
  width: 100%;
  height: calc(100% - 80px);
  /* background: red; */
  position: relative;
}

.page .tool {
  
  flex-shrink: 0;
  width: 180px;
  background-color: #f8f8f8;
  border-right: 1px solid #d9d9d9;
  overflow-y: auto;
 /*  margin-bottom: 20px; */
}

.page .tool .title {
  color: #0d1a26;
  font-weight: 600;
  font-size: 12x;
  padding: 10px 10px;
  margin-top: 0.08rem;
  border-bottom: 1px solid #ddd;
}
.page .tool .more-tool{
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 30px;
  width: 180px;
  text-align: center;
  border: 1px solid #bfbfbf;
  border-radius: 2px;
  color: #434343;
  background-color: #fff;
  padding: 0 20px;
  line-height: 30px;
}

.page .tool .title:first-child {
  border-top: none;
}

.page .tool .button {
  padding: 10px 0;
}

.page .tool .button a {
    display: inline-block;
    color: #333;
    line-height: 1;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none !important;
}

.page .tool .button a .iconfont {
  font-size: 20px !important;
}

.page .full {
  flex: 1;
  width: initial;
  position: relative;
  overflow: auto;
  background: #fff;
}

.page .props {
  flex-shrink: 0;
  width: 250px;
  padding: 0.1rem 0;
  background-color: #f8f8f8;
  border-left: 1px solid #d9d9d9;
  overflow-y: auto;
  position: relative;
}

.toggle-icon{
  width: 30px;
  height: 30px;
  position: fixed;
  z-index: 50;
  top:83px;
  right:0px; 
  border:1px solid lightgray;
  text-align: center;
  line-height: 30px;
  background-color: white;
  border-radius: 0;
}
.tool-img-box{
  width: 30px;
  height: 30px;
}



.full .topology {
  font-size: 30px;
}

.tool .MuiAccordion-root.Mui-expanded{
  margin: 0;
}

.tool .MuiAccordionDetails-root{
  padding: 0;
}

.page .tool .button a:hover{
  color:blue;
}